@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column ;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: darkgray;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
 
}

.content {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  flex: 1 1 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  align-items: flex-end;
}

.right-links, .left-links {
  color: black;
  display: flex;
  gap: 8px;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

