body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;


}

.title {
  background: #e3f4ff;
  font-size: 16px;
 
  padding: 10px;

}

.content {
  background: #e3f4ff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding-top: 20px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px;
  display: block;

}
p {
  width: 100px;
  margin: auto;
  padding-bottom: 10px;
  
}